body {
  font-family: "Montserrat", sans-serif;
}
.header {
  text-align: center;
  padding: 20px;
}

h1 {
  font-family: "Ysabeau SC", sans-serif;
  font-size: 10em;
}
#content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
#photo {
  max-width: 100%;
}
#description {
  margin-top: 20px;
  text-align: center;
}
